.container {
  padding: 30px;

  .trip-card {
    cursor: pointer;

    .trip-card-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .destination-name {
        font-size: 24px;
        font-weight: 500;
      }

      .additional-details {
        align-items: center;
        .dot-separator {
          width: 1px;
          height: 14px;
          border-radius: 1px;
          background: gray;
        }
      }
    }
  }
}
