<div class="container" id="user-authentication-container" #UserAuthenticationContainer>
    <div class="form-container sign-up">
        <form [formGroup]="signUpForm" (ngSubmit)="onRegisterSubmit()">
            <h1>Create Account</h1>
            <span>or use your email for registration</span>
            <input pInput class="form-control" type="text" placeholder="Name" formControlName="userName">
            <div *ngIf="signUpForm.get('userName')?.invalid && (signUpForm.get('userName')?.dirty || signUpForm.get('userName')?.touched)">
                <span class="error-message" *ngIf="signUpForm.get('userName')?.errors?.['required']"> Username is required</span>
            </div>
            <input pInput class="form-control" type="email" placeholder="Email" formControlName="email">
            <div *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
                <span class="error-message" *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required</span>
                <span class="error-message" *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email format</span>
            </div>
            <input pInput class="form-control" type="password" placeholder="Password" formControlName="password">
            <div *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
                <span class="error-message" *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required</span>
                <span class="error-message" *ngIf="signUpForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</span>
            </div>
            <p-button type="submit">Sign Up</p-button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form [formGroup]="signInForm" (ngSubmit)="onLoginSubmit()">
            <h1>Sign In</h1>
            <span>or use your email password</span>
            <input pInput class="form-control" type="email" placeholder="Email" formControlName="email">
            <div *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty || signInForm.get('email')?.touched)">
                <span class="error-message" *ngIf="signInForm.get('email')?.errors?.['required']">Email is required</span>
                <span class="error-message" *ngIf="signInForm.get('email')?.errors?.['email']">Invalid email format</span>
            </div>
            <input pInput class="form-control" type="password" placeholder="Password" formControlName="password">
            <div *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty || signInForm.get('password')?.touched)">
                <span class="error-message" *ngIf="signInForm.get('password')?.errors?.['required']">Password is required</span>
                <span class="error-message" *ngIf="signInForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</span>
            </div>
            <p-button type="submit">Sign In</p-button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back !</h1>
                <p>Enter your personal details to use all of site features</p>
                <p-button (click)="toggleToOtherForm('login', UserAuthenticationContainer)">Sign In</p-button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Welcome, Friend!</h1>
                <p>Enter your personal details to use all of site features</p>
                <p-button (click)="toggleToOtherForm('register', UserAuthenticationContainer)">Sign Up</p-button>
            </div>
        </div>
    </div>
</div>
