/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";
@import "./variables";

body {
  margin: 0;
}

@for $i from 1 through 50 {
  .gap-#{$i} {
    gap: $i + px !important;
  }
}

@for $i from 1 through 50 {
  .font-size-#{$i} {
    font-size: $i + px !important;
  }
}

.pac-container {
  z-index: 10000 !important;
}

.p-button {
  background: $secondary-color !important;
  border: 1px solid $secondary-color !important;
  color: $text-color !important;
}

.p-calendar {
  width: 100%;
}

.p-datepicker table td {
  padding: 0 !important;
}

.subheading {
  font-weight: 600;
  font-size: 24px;
  color: #100102;
}

.p-progressbar .p-progressbar-value {
  background: $primary-color;
}