<div class="container flex gap-1">
  <div style="width: 55%">
    <app-header></app-header>
    <div class="trip-details">
      <p-card [header]="'Trip to ' + tripDetails.trip.destinationLongName">
        <div class="flex flex-column gap-20">
          <div class="flex justify-content-between">
            <div class="flex">
              <i class="pi pi-calendar-plus"></i>
              <p class="m-0">
                {{ tripDetails.trip.startDate | date : "MMM - dd, YYYY" }} -
                {{ tripDetails.trip.endDate | date : "MMM - dd, YYYY" }}
              </p>
            </div>
            <div>
              <img [src]="googleResponse.place_results.thumbnail" />
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="trip-details flex flex-column gap-30">
      <p-accordion [multiple]="true">
        <p-accordionTab
          header="Notes"
          headerStyleClass="trip-details-header"
          contentStyleClass="trip-details-content"
        >
          <div class="flex flex-column gap-10">
            <div
              class="flex flex-column gap-5"
              *ngIf="tripDetails.tripNotes.length"
            >
              <ng-container *ngFor="let notes of tripDetails.tripNotes">
                <div
                  class="flex justify-content-between align-items-center gap-10"
                >
                  <div class="note">
                    {{ notes.note }}
                  </div>
                  <div class="flex gap-10">
                    <p-button
                      (onClick)="
                        editNote(type.Trip, tripDetails.trip.id, notes)
                      "
                      icon="pi pi-pen-to-square"
                    ></p-button>
                    <p-button
                      (onClick)="deleteNote(type.Trip, notes.id)"
                      icon="pi pi-trash"
                    ></p-button>
                  </div>
                </div>
              </ng-container>
            </div>
            <p-button (onClick)="addNotes(type.Trip, tripDetails.trip.id)">
              <div class="flex gap-10">
                <div class="pi pi-plus"></div>
                <div>Add Notes</div>
              </div>
            </p-button>
          </div>
        </p-accordionTab>
        <p-divider></p-divider>
        <p-accordionTab
          header="Place to Visit"
          headerStyleClass="trip-details-header"
          contentStyleClass="trip-details-content"
        >
          <div class="flex flex-column gap-10">
            <div class="flex flex-column gap-5">
              <ng-container *ngFor="let location of tripDetails.tripLocations">
                <div class="flex">
                  <div>
                    <img
                      [src]="
                        location.serpGoogleResponse?.place_results?.thumbnail
                      "
                      alt=""
                    />
                  </div>
                  <div class="flex justify-content-between">
                    <div>
                      {{ location.serpGoogleResponse?.place_results?.title }} ,
                      {{ location.serpGoogleResponse?.place_results?.address }}
                    </div>
                    <p-button
                      (onClick)="deletePlace(type.Trip, location.id)"
                      icon="pi pi-trash"
                    ></p-button>
                  </div>
                </div>
              </ng-container>
            </div>
            <p-button (onClick)="addPlace(type.Trip, tripDetails.trip.id)">
              <div class="flex gap-10">
                <div class="pi pi-plus"></div>
                <div>Add Place</div>
              </div>
            </p-button>
          </div>
        </p-accordionTab>
        <p-divider></p-divider>
      </p-accordion>

      <div class="flex flex-column gap-10">
        <div class="flex justify-content-between align-items-center">
          <div class="subheading">Itinerary</div>
          <div class="flex gap-5">
            <i class="pi pi-calendar"></i>
            <div>
              {{
                getDate(tripDetails.trip.startDate)
                  | date : (isTripEndInSameYear ? "MM/dd" : "MM/dd/YYYY")
              }}
              -
              {{
                getDate(tripDetails.trip.endDate)
                  | date : (isTripEndInSameYear ? "MM/dd" : "MM/dd/YYYY")
              }}
            </div>
          </div>
        </div>
        <p-accordion [multiple]="true">
          <ng-container
            *ngFor="let itinerary of tripDetails.itineraries; let index = index"
          >
            <p-accordionTab
              [header]="getDate(itinerary.date)"
              headerStyleClass="trip-details-header"
              contentStyleClass="trip-details-content"
            >
              <div class="flex flex-column gap-10">
                <p-tabMenu
                  [model]="itineraryTabMenus[index]"
                  [activeItem]="selectedItineraryTab[index]"
                  (activeItemChange)="onActiveItineraryTabChange($event, index)"
                >
                  <ng-template pTemplate="item" let-item>
                    <a
                      class="p-menuitem-link flex justify-content-between align-items-center p-3"
                    >
                      <div>
                        <span [class]="item.icon"></span>
                        <span> {{ item.label }}</span>
                      </div>
                    </a>
                  </ng-template>
                </p-tabMenu>
                <div class="tab-menu-content">
                  <ng-container
                    *ngIf="selectedItineraryTab[index].label === 'Places'"
                  >
                    <div class="flex flex-column gap-10">
                      <div class="flex flex-column gap-5">
                        <ng-container
                          *ngFor="let location of itinerary.itineraryLocations"
                        >
                          <div class="flex">
                            <div>
                              <img
                                [src]="
                                  location.serpGoogleResponse?.place_results
                                    ?.thumbnail
                                "
                                alt=""
                              />
                            </div>
                            <div class="flex justify-content-between">
                              <div>
                                {{
                                  location.serpGoogleResponse?.place_results
                                    ?.title
                                }}
                              </div>
                              <p-button
                                (onClick)="
                                  deletePlace(type.Itinerary, location.id)
                                "
                                icon="pi pi-trash"
                              ></p-button>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <p-button
                        (onClick)="
                          addPlace(type.Itinerary, itinerary.itineraryId)
                        "
                      >
                        <div class="flex gap-10">
                          <div class="pi pi-plus"></div>
                          <div>Add Place</div>
                        </div>
                      </p-button>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="selectedItineraryTab[index].label === 'Notes'"
                  >
                    <div class="flex flex-column gap-10">
                      <div class="flex flex-column gap-5">
                        <ng-container
                          *ngFor="let notes of itinerary.itineraryNotes"
                        >
                          <div
                            class="flex justify-content-between align-items-center gap-10"
                          >
                            <div class="note">
                              {{ notes.note }}
                            </div>
                            <div class="flex gap-10">
                              <p-button
                                icon="pi pi-pen-to-square"
                                (onClick)="
                                  editNote(
                                    type.Itinerary,
                                    itinerary.itineraryId,
                                    notes
                                  )
                                "
                              ></p-button>
                              <p-button
                                icon="pi pi-trash"
                                (onClick)="deleteNote(type.Itinerary, notes.id)"
                              ></p-button>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <p-button
                        (onClick)="
                          addNotes(type.Itinerary, itinerary.itineraryId)
                        "
                      >
                        <div class="flex gap-10">
                          <div class="pi pi-plus"></div>
                          <div>Add Notes</div>
                        </div>
                      </p-button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </p-accordionTab>

            <p-divider></p-divider>
          </ng-container>
        </p-accordion>
      </div>

      <div class="flex flex-column gap-20">
        <div class="flex justify-content-between align-items-center">
          <div class="subheading">Budget</div>
          <p-button (onClick)="addExpenses()">
            <div class="flex gap-10">
              <div class="pi pi-plus"></div>
              <div>Add Expenses</div>
            </div>
          </p-button>
        </div>
        <div class="flex justify-content-between">
          <div class="font-size-30">
            Budget <strong>$ {{ tripDetails.budget.amount }}</strong>
          </div>
          <div>
            Total Expenses: <strong>$ {{ totalExpenses }}</strong>
          </div>
        </div>
        <p-progressBar [value]="0" [showValue]="false"></p-progressBar>
        <div class="flex gap-10">
          <p-button (onClick)="editBudget(tripDetails.budget)">
            <div class="flex gap-10">
              <div class="pi pi-pencil"></div>
              <div>
                {{
                  tripDetails.budget.amount === 0 ? "Set Budget" : "Edit Budget"
                }}
              </div>
            </div>
          </p-button>
          <p-button (onClick)="viewBudgetBreakDown()">
            <div class="flex gap-10">
              <div class="pi pi-chart-bar"></div>
              <div>View breakdown</div>
            </div>
          </p-button>
        </div>
        <div>
          <p-table
            [value]="tripDetails.expenses"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Paid By</th>
                <th>Category</th>
                <th>Ammount</th>
                <th>Split Type</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-expense>
              <tr>
                <td>{{ getUserByPaidBy(expense.userId) }}</td>
                <td>{{ categories[expense.categoryId - 1] }}</td>
                <td>{{ expense.amount }}$</td>
                <td>{{ expense.splitType }}</td>
                <td>
                  <div class="flex gap-10">
                    <p-button
                      icon="pi pi-pen-to-square"
                      (onClick)="editExpenses(expense)"
                    ></p-button>
                    <p-button
                      icon="pi pi-trash"
                      (onClick)="deleteExpenses(expense.id)"
                    ></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div>
    <app-googlemap
      [googleResponse]="googleResponse"
      [destination]="destination"
      [locationMarkers]="markers"
    ></app-googlemap>
  </div>
</div>
