<app-header></app-header>
<div class="container flex gap-1">
  <div style="width: 45%">
    <div class="trip-details">
      <p-card [header]="'Trip to ' + tripDetails.destination">
        <div class="flex flex-column gap-20">
          <div class="flex gap-5">
            <i class="pi pi-calendar-plus"></i>
            <p class="m-0">
              {{ tripDetails.startDate | date : "MMM - dd, YYYY" }} -
              {{ tripDetails.endDate | date : "MMM - dd, YYYY" }}
            </p>
          </div>
        </div>
      </p-card>
    </div>
    <div class="trip-details flex flex-column gap-30">
      <p-accordion [multiple]="true">
        <p-accordionTab
          header="Notes"
          headerStyleClass="trip-details-header"
          contentStyleClass="trip-details-content"
        >
          <div class="flex flex-column gap-10">
            <div class="flex flex-column gap-5">
              <ng-container *ngFor="let notes of tripDetails.notes">
                <div
                  class="flex justify-content-between align-items-center gap-10"
                >
                  <div class="note">
                    {{ notes.notes }}
                  </div>
                  <div class="flex gap-10">
                    <p-button
                      icon="pi pi-pen-to-square"
                      (onClick)="editNote(type.Trip, tripDetails.id, notes)"
                    ></p-button>
                    <p-button
                      icon="pi pi-trash"
                      (onClick)="deleteNote(notes.id)"
                    ></p-button>
                  </div>
                </div>
              </ng-container>
            </div>
            <p-button (onClick)="addNote(type.Trip, tripDetails.id)">
              <div class="flex gap-10">
                <div class="pi pi-plus"></div>
                <div>Add Notes</div>
              </div>
            </p-button>
          </div>
        </p-accordionTab>
        <p-divider></p-divider>
        <p-accordionTab
          header="Place to Visit"
          headerStyleClass="trip-details-header"
          contentStyleClass="trip-details-content"
        >
          <!-- <textarea rows="1" cols="60" pInputTextarea [autoResize]="true" [(ngModel)]="places"></textarea> -->
          <div style="width: 100%">
            <p-autoComplete
              [(ngModel)]="places"
              [suggestions]="filteredPlaces"
              (completeMethod)="filterPlace($event)"
              field="name"
              placeholder="Search for any place"
            >
              <ng-template let-place pTemplate="item">
                <div class="flex align-items-center gap-2"></div>
              </ng-template>
            </p-autoComplete>
          </div>
          <p-button (onclick)="addPlace(type.Itinerary, tripDetails.id)">
            <div class="flex gap-10">
              <div class="pi pi-plus"></div>
              <div>Add Place</div>
            </div>
          </p-button>
        </p-accordionTab>
        <p-divider></p-divider>
      </p-accordion>

      <div class="flex flex-column gap-10">
        <div class="flex justify-content-between">
          <div>Itinerary</div>
          <div class="flex gap-5">
            <i class="pi pi-calendar"></i>
            <div>
              {{
                tripDetails.startDate
                  | date : (isTripEndInSameYear ? "MM/dd" : "MM/dd/YYYY")
              }}
              -
              {{
                tripDetails.endDate
                  | date : (isTripEndInSameYear ? "MM/dd" : "MM/dd/YYYY")
              }}
            </div>
          </div>
        </div>
        <p-accordion [multiple]="true">
          <ng-container
            *ngFor="let itinerary of tripDetails.itinerary; let index = index"
          >
            <p-accordionTab
              [header]="itinerary.date"
              headerStyleClass="trip-details-header"
              contentStyleClass="trip-details-content"
            >
              <div class="flex flex-column gap-10">
                <p-tabMenu
                  [model]="itineraryTabMenus[index]"
                  [activeItem]="selectedItineraryTab[index]"
                  (activeItemChange)="onActiveItineraryTabChange($event, index)"
                >
                  <ng-template pTemplate="item" let-item>
                    <a
                      class="p-menuitem-link flex justify-content-between align-items-center p-3"
                    >
                      <div>
                        <span [class]="item.icon"></span>
                        <span> {{ item.label }}</span>
                      </div>
                    </a>
                  </ng-template>
                </p-tabMenu>
                <div class="tab-menu-content">
                  <ng-container
                    *ngIf="selectedItineraryTab[index].label === 'Places'"
                  >
                    <p-button
                      (onclick)="addPlace(type.Itinerary, itinerary.id)"
                    >
                      <div class="flex gap-10">
                        <div class="pi pi-plus"></div>
                        <div>Add Place</div>
                      </div>
                    </p-button>
                  </ng-container>
                  <ng-container
                    *ngIf="selectedItineraryTab[index].label === 'Notes'"
                  >
                    <div class="flex flex-column gap-10">
                      <div class="flex flex-column gap-5">
                        <ng-container *ngFor="let notes of tripDetails.notes">
                          <div
                            class="flex justify-content-between align-items-center gap-10"
                          >
                            <div class="note">
                              {{ notes.notes }}
                            </div>
                            <div class="flex gap-10">
                              <p-button
                                icon="pi pi-pen-to-square"
                                (onClick)="
                                  editNote(type.Itinerary, itinerary.id, notes)
                                "
                              ></p-button>
                              <p-button
                                icon="pi pi-trash"
                                (onClick)="deleteNote(notes.id)"
                              ></p-button>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <p-button
                        (onClick)="addNote(type.Itinerary, itinerary.id)"
                      >
                        <div class="flex gap-10">
                          <div class="pi pi-plus"></div>
                          <div>Add Notes</div>
                        </div>
                      </p-button>
                    </div>
                  </ng-container>
                </div>
              </div>
            </p-accordionTab>

            <p-divider></p-divider>
          </ng-container>
        </p-accordion>
      </div>

      <div class="flex flex-column gap-20">
        <div class="flex justify-content-between">
          <div class="">Budget</div>
          <p-button (onClick)="addExpenses()">
            <div class="flex gap-10">
              <div class="pi pi-plus"></div>
              <div>Add Expenses</div>
            </div>
          </p-button>
        </div>
        <div class="flex justify-content-between">
          <div>$ {{ tripDetails.budget.budgetAllocated }}</div>
          <div>$ {{ tripDetails.budget.budgetAllocated }}</div>
        </div>
        <p-progressBar [value]="50" [showValue]="false"></p-progressBar>
        <div class="flex gap-10">
          <p-button (onClick)="editBudget()">
            <div class="flex gap-10">
              <div class="pi pi-pencil"></div>
              <div>
                {{
                  tripDetails.budget.budgetAllocated === 0
                    ? "Set Budget"
                    : "Edit Budget"
                }}
              </div>
            </div>
          </p-button>
          <p-button (onClick)="viewBudgetBreakDown()">
            <div class="flex gap-10">
              <div class="pi pi-chart-bar"></div>
              <div>View breakdown</div>
            </div>
          </p-button>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <div>
    <app-googlemap></app-googlemap>
  </div>
</div>
